.bgc-blue500 {
  background-color: rgb(59, 130, 246);
}

.bgc-yellow500 {
  background-color: rgb(234, 179, 8);
}

.bgc-emerald600 {
  background-color: rgb(5, 150, 105);
}

.bgc-rose700 {
  background-color: rgb(190, 18, 60);
}

.bgc-navCCC {
  background-color: #438ff4;
}

.tc-blue500 {
  color: rgb(59, 130, 246);
}

.tc-yellow500 {
  color: rgb(234, 179, 8);
}

.tc-emerald600 {
  color: rgb(5, 150, 105);
}

.tc-rose700 {
  color: rgb(190, 18, 60);
}
